

  <%= form_tag "/home/create_information", :id => "pop_form", :multipart => true do %>
    <div class="modal-header">
       <button type="button" onclick="cencel();" aria-label="Close" class="close">
          <span aria-hidden="true">&times;</span>
       </button>
       <h4 id="myModalLabel" class="modal-title">批量导入序号</h4>
    </div>

    <input type="text" id="show_wz" class="form-control " placeholder="" disabled="">
    <span class="group-span-filestyle input-group-btn" tabindex="0">
    <label for="filestyle-0" class="btn btn-default ">
      <span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span>
      <span class="buttonText">
        上传
        <input class="filePrew" tabindex="3" accept="*.png" name="file" id="pic_url" size="3" type="file" onchange="preview_file('show_wz',this.value)" autocomplete="off">
      </span>
    </label>
    </span>

    <div class="modal-footer">
       <button type="button" onclick="cencel();" class="btn btn-default">取消</button>
       <button type="submit" class="btn btn-primary" >保存</button>
    </div>
  <% end %>

<script type="text/javascript">
   function cencel(){
      $('#myModal').remove();
      $('.modal-backdrop').remove();
    }
  function submit_form(){
    var file = $("#pic_url").val();
    if(file == ""){
      alert("请选择文件");
    }else {
      $("#upfile_form").submit();
    }
  }
  function preview_file(a,val){
      $('#'+a).val(val);
  }
</script>
